 #wrapper{max-width:640px;margin:auto;}
    img{width:100%;height:auto;display:block;}
    body{margin:0;font-family:sans-serif;}
    
    a{color:#0286CD;}
    body,button{font-family:"adihausregular",helvetica,arial,sans-serif;font-size:18px;line-height:24px;}
	h1,h2,h3,h4,h5,h6, .instagram blockquote{font-family:"adiLight",helvetica,arial,sans-serif;text-transform:uppercase;}
    
    section{
    	display:block;
    	margin:0;
    	padding:0;
    	overflow:hidden;
    	height:auto;
    	clear:both;
    	position:relative;
    }
    
    #intro, .end{
    	background:url(bg.png) #363738;
    	color:#e4e4e4;
    	padding-left:16px;
    }
    
    .end a{
    	color:#fff133;
    }
    
    #intro h1{
    	font-size:28px;
    	font-family:"adiLight";
    	padding-bottom:0;
    	margin-bottom:0;
    }	
    
    #intro h1 strong{
    	font-family:"adiBlack";
    	color:#fff133;
    }
    
    #intro p{
    	color:#fff;
    	padding-top:0;
    	margin-top:8px;
    	margin-bottom:24px;
    	padding-bottom:0;
    }
    
    .icon{
    font-family:"adiPictoRegular";
    }
    
    section p, section h1, section h2, section h3{
    	padding:8px 16px 8px	 16px;
    }	
    
    .instagram{
    	
    }
    
    .instagram blockquote{
   	 	font-size:32px;  
   	 	line-height:36px;
   	 	text-align:left;
   	 	padding-left:32px;
   	 	padding-top:20px;
   	 	margin:10px 0 0 6px;
   	 	font-weight:bold;
   	 	background:url(quote.png) no-repeat top left;
   	 	background-size:30px 30px;
    }

	.instagram .meta{
		padding-left:36px;
		padding-top:6px;
		padding-bottom:20px;
	}
	
	.instagram .meta strong{
		color:#1b99d6;
	}
	
	.instagram .meta button{
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border:none;
		background:#1b99d6;
		color:#fff;
		font-size:18px;
		padding:4px 8px 4px 8px;
		display:none;
		
	}

    .shop{
		font-family:"adiLight";
		border-bottom:1px solid #ccc;
		margin-bottom:10px;
		padding-bottom:10px;
		padding-top:10px;
		padding-left:36px;
		display:block;
		position:relative;
    }
    
    .shop:hover{
    	color:#025f8e;
    	cursor:pointer;
		background:rgba(0,0,0,0.05);
    }
    
    .shop .items{
    	display:none;
    }
    
    .shop.open{
		background:rgba(0,0,0,0.02);    
    }
    
    .shop.open .items{
    	display:block;
    	margin-top:10px;
    }
    
    .items strong{
    	font-family:"adihausbold";
    }
    
    
    .shop .item{
       	font-family:"adihausregular";
    	position:relative;
    	font-size:14px;
    	line-height:16px;
    }
    
    .detail{
    	position:absolute;
    	left:112px;
    	top:0;
    }
    
    .detail strong{
    	display:block;
    }
    
    .shop .item{
    	width:30%;
    	padding-left:1%;
    	display:inline-block;
    }
    
    .shop .item img{
    	width:100px;
    	height:100px;

    }    
    
    .shop .icon{
    	font-size:14px;
    	display:block;
    	position:absolute;
    	left:170px;
    	top:10px;
    	width:20px;
    	height:20px;
    }